<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>08.pilot_project</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project.ServletControl.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInputServlet</display-name>
    <servlet-name>MemberInputServlet</servlet-name>
    <servlet-class>com.project.ServletControl.MemberInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInputServlet</servlet-name>
    <url-pattern>/memberInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectureLIstServlet</display-name>
    <servlet-name>LectureLIstServlet</servlet-name>
    <servlet-class>com.project.ServletControl.LectureLIstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectureLIstServlet</servlet-name>
    <url-pattern>/lectureList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMyLectureServlet</display-name>
    <servlet-name>InsertMyLectureServlet</servlet-name>
    <servlet-class>com.project.ServletControl.InsertMyLectureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMyLectureServlet</servlet-name>
    <url-pattern>/insertMyLecture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLectureListServlet</display-name>
    <servlet-name>MyLectureListServlet</servlet-name>
    <servlet-class>com.project.ServletControl.MyLectureListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLectureListServlet</servlet-name>
    <url-pattern>/myLectureList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasketListServlet</display-name>
    <servlet-name>BasketListServlet</servlet-name>
    <servlet-class>com.project.ServletControl.BasketListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketListServlet</servlet-name>
    <url-pattern>/basketList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasketListServlet2</display-name>
    <servlet-name>BasketListServlet2</servlet-name>
    <servlet-class>com.project.ServletControl.BasketListServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketListServlet2</servlet-name>
    <url-pattern>/basketList2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBasketListServlet</display-name>
    <servlet-name>MyBasketListServlet</servlet-name>
    <servlet-class>com.project.ServletControl.MyBasketListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBasketListServlet</servlet-name>
    <url-pattern>/myBasketList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectureInformationServlet</display-name>
    <servlet-name>LectureInformationServlet</servlet-name>
    <servlet-class>com.project.ServletControl.LectureInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectureInformationServlet</servlet-name>
    <url-pattern>/lectureInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenLectureServlet</display-name>
    <servlet-name>ListenLectureServlet</servlet-name>
    <servlet-class>com.project.ServletControl.ListenLectureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenLectureServlet</servlet-name>
    <url-pattern>/listenLecture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.project.ServletControl.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLectureServlet</display-name>
    <servlet-name>AddLectureServlet</servlet-name>
    <servlet-class>com.project.ServletControl.AddLectureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLectureServlet</servlet-name>
    <url-pattern>/addLecture</url-pattern>
  </servlet-mapping>
</web-app>